@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*, *::before, *::after {
    font-family: 'Inter', sans-serif !important;
}
.app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
   }

   /* MAP BOX */

.map-container-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#map-container {
  height: 100vh;
  width: 100%;
}

.map-coordinates{
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  border-radius: 4px;
}

.reset-button {
  position: absolute;
  background-color: green;
  top: 50px;
  z-index: 1;
  right: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}



/* SIDE BAR */
.sideBar{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(17 43 48 / 95%);
  border:1px solid #92A09C;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
  height: 85%;
  width: 322px;
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 12%;
  left: 0;
  margin: 12px;
  border-radius: 15px;
}

/* BACK BUTTON ON SIDE BAR */
.backBtn {
  all: unset;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  background: rgb(255 255 255 / 20%);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  top: 10px;
  left: 8px;
}

.backBtn:hover {
  background-color: #67795B;
}

/* SIDE BAR WHEN COUNTRY SELECTED */
.cardHeadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.cardHeadingContainer h2 {
  height: auto;
  padding: 0;
}

.cardHeadingContainer p {
  height: auto;
  padding: 0;
  margin: 0;
}


/* FILTER BUTTONS ON SIDEBAR */
 .filterBtnContainer {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  margin: 8px 0 5px 0;
}

.filterBtn {
  all: unset;
  cursor: pointer;
  background-color: rgb(255 255 255 / 20%);
  border-radius: 8px;
  flex: 1;
  text-align: center;
  padding: 10px 0;

}

.filterBtn:hover {
  background-color: #67795B;
}

/* nav bar / header */
.Header {
  height: 100px;
  width: 100vw;
  background-color: #0A3142;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Header svg {
  margin-left: 20px;
  padding-left: 20px;
}

.Header h1 {
color: #F8F5EF;
padding: 0 10px;
font-weight: 400;
}

/* CARD CONTAINER */
.card-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  align-items: center;
  height: 100%;
  max-width: 322px;
  gap: 7px;
  overflow-y: auto; 
}

/* INDIVIDUAL CARDS  */
.individual-card-container {
  display: flex;
  position: relative;
  background: rgb(255 255 255 / 20%);
  min-height: 165px;
  width: 100%;
  border-radius: 8px;
}

/* COUNTRY FLAG ON CARD */
.country-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0.8;
}

/* COUNTRY NAME AND FLAG IN HEADER */
.countryTitle {
  display: flex;
  align-items: center;
  gap: 8px; 
}

/* FLAG ICON IN SIDEBAR HEADER  */
.individual-country-icon {
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

.main-card-description {
  flex-direction: column;
}

/* SIDEBAR FILTER BUTTONS */


/* EXPLORE COUNTRY & LEARN MORE BUTTON */
.explore-btn {
  all: unset;
  cursor: pointer;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  background: #D8844E;
  border-radius: 10px;
  padding: 2px 5px;
  width: 100px;
  height: 21px;
  bottom: 10px;
  right: 8px;
}

/* CONTAINER FOR CARD CONTENT */
.card-words {
  flex-direction: column;
  padding: 10px;
}


p {
  font-weight: 300 !important;
}
.card-description {
  padding: 0;;
}

.country-main-image {
  width: 90px;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.card-words p {
  margin: 0;
  padding-bottom: 5px;
}

